@import "tailwindcss";

:root {
  --color-bg: #FFFFFF;
  --color-text: #111827;
  --primary-color: #FF7100;
  --secondary-color: #D9D9D9;
  --tertiary-color: #F8E329;
}

body {
  font-family: "Calistoga";
  background-color: var(--color-bg);
  color: var(--color-text);
}
